<div class="row">
    <div class="col-sm-12">
        <app-card>
            <h2>Etat de Stock</h2>
            
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="number">
                                    <input
                                    class="form-control mb-3"
                                    type="text"
                                    [(ngModel)]="nomSearch"
                                    (input)="getEtatStock()"
                                    placeholder="Rechercher un article..."
                                    />
                                nom article
                            </th>
                            <th class="number">entrer</th>
                            <th class="number">sortie</th>
                            <th class="number">reste</th>
                            <th class="number">#</th>
                            <!-- <th class="number">prix total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of etatStock">
                            <td class="number">{{ row.nom }}</td>
                            <td class="number">{{ row.totalEntrer }}</td>
                            <td class="number">{{ row.totalSortie }}</td>
                            <td class="number">{{ row.totalEntrer - row.totalSortie }}</td>
                            <td class="number">
                                <button class="btn btn-primary" (click)="open(content, row)">
                                    Inserer
                                </button>
                            </td>
                            <!-- <td class="number">{{ row.prix_total }}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>

<!-- Bouton pour ouvrir le modal -->

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Inserer en Stock: {{ selectedArticle.nom }}</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="exampleInputEmail1">quantite</label>
        <input type="number" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="quantite" [(ngModel)]="quantiteInserer">
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputPassword1">prix unitaire</label>
        <input type="number" min="1" class="form-control" id="exampleInputPassword1" placeholder="Prix Unitaire" [(ngModel)]="prixUnitaireInserer">
      </div> -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Fermer')">Fermer</button>
    <button type="button" class="btn btn-success" (click)=" inserer(); modal.close()">inserer</button>
  </div>
</ng-template>
  
