<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo-dark.svg" alt="logo" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Créer un compte</b></h2>
                <p class="fs-4 mt-2"> Entrez vos identifiants pour continuer</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Nom complet</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Contact</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Mot de passe</label>
          </div>
          
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary p-2">S'inscrire</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']">Vous avez déjà un compte?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
