<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 align-items-center">
                    <div class="col">
                        <h4>Liste des taches</h4>
                    </div>
                    <div class="col-auto">
                        <!-- Filtre par date debut -->
                        <input type="date" [(ngModel)]="dateMinFilter" (ngModelChange)="applyFilters()"
                            class="form-control">
                    </div>
                    <div class="col-auto">
                        <!-- Filtre par date fin -->
                        <input type="date" [(ngModel)]="dateMaxFilter" (ngModelChange)="applyFilters()"
                            class="form-control">
                    </div>
                    <div class="col-auto">
                        <!-- Filtre par état -->
                        <select *ngIf="userInfo.role === 'mecanicien'" [(ngModel)]="etatFilter" (ngModelChange)="applyFilters()" class="form-control">
                            <option value="">Tous</option>
                            <option *ngFor="let etat of etats" [value]="etat">
                                {{ etat }}
                            </option>
                        </select>

                        <select *ngIf="userInfo.role === 'manager'" [(ngModel)]="mecanicienFilter" (ngModelChange)="applyFilters()" class="form-control">
                            <option value="">Tous</option>
                            <option *ngFor="let mecanicien of filteredTache" [value]="mecanicien.id_mecanicien.nom">
                                {{ mecanicien.id_mecanicien.nom }}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="userInfo.role === 'manager'" class="col-auto">
                        <input type="search" [(ngModel)]="clientFilter" (ngModelChange)="applyFilters()" placeholder="Rechercher par nom" class="form-control" />
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0" *ngFor="let tache of filteredTache; let index = index">
                        <div class="row align-items-start">
                            <div class="col">
                                <h4 class="mb-0">{{ tache.id_rendez_vous.id_client.nom }} - {{ tache.id_vehicule.id_modele.nom }} {{ tache.id_vehicule.marque }} -
                                    {{ tache.id_vehicule.numero }} <span *ngIf="userInfo.role === 'manager'">({{ tache.id_mecanicien.nom }})</span></h4>
                                <small class="text-success">{{ formatDate(tache.date_debut) }} jusqu'au {{
                                    formatDate(tache.date_fin) }}</small>
                            </div>
                            <div class="col-auto">
                                <h4 class="mb-0">
                                    <span tabindex="0" role="button" (click)="ouvrirModal(content, tache)"
                                        (keydown.enter)="ouvrirModal(content, tache)"
                                        *ngIf="tache.facture===false"
                                        (keyup.space)="ouvrirModal(content, tache)" [ngClass]="{
                                        'bg-light-danger': tache.etat === 'en attente',
                                        'bg-light-warning': tache.etat === 'en cours',
                                        'bg-light-success': tache.etat === 'terminée'
                                      }" class="ms-2 align-top avatar avatar-xxs">
                                        <i *ngIf="tache.etat === 'en attente'" class="ti ti-x text-danger"></i>
                                        <i *ngIf="tache.etat === 'en cours'" class="ti ti-hourglass text-warning"></i>
                                        <i *ngIf="tache.etat === 'terminée'" class="ti ti-check text-success"></i>
                                    </span>

                                    <span tabindex="0" role="button" *ngIf="tache.etat === 'terminée' && tache.facture===false"
                                    (click)="ouvrirModalFacture(facture_content,tache)" 
                                    (keydown.enter)="ouvrirModalFacture(facture_content,tache)"
                                    (keyup.space)="ouvrirModalFacture(facture_content,tache)"
                                        class="ms-2 align-top avatar avatar-xxs bg-light-danger">
                                        <i class="ti ti-receipt text-danger"></i>
                                    </span>

                                    <span tabindex="0" role="button" *ngIf="tache.facture===true"
                                    (click)="genererFacture(tache._id)" 
                                    (keydown.enter)="genererFacture(tache._id)"
                                    (keyup.space)="genererFacture(tache._id)"
                                        class="ms-2 align-top avatar avatar-xxs bg-light-danger">
                                        <i class="ti ti-printer text-danger"></i>
                                    </span>
                                    
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Pagination -->
                <div class="text-center">
                    <!-- <button class="btn btn-link" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
                    <span>Page {{ currentPage }} / {{ totalPages }}</span>
                    <button class="btn btn-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button> -->
                </div>

                <!-- <div class="text-center mt-3">
                    <a class="b-b-primary text-primary f-w-500" href="#" (click)="showAll()">
                        Afficher tous
                        <i class="ti ti-chevron-right"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-dialog custom-modal-size">
        <div class="modal-content" #modalContainer tabindex="-1">
            <div class="modal-header">
                <h4 class="modal-title">Détails de la tâche</h4>
                <button type="button" class="btn-close" (click)="fermerModal()"></button>
            </div>

            <div class="modal-body">
                <div class="section">
                    <h5>Liste des services</h5>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let service of detailTache?.services">
                                {{ service?.nom }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedTache.etat != 'terminée'" class="modal-footer">
                <div class="col-auto">
                    <label for="etatId">Etat</label>
                    <select id="etatId" [(ngModel)]="selectedTache.etat"
                        (ngModelChange)="updateRole(selectedTache._id, selectedTache.etat)" name="etatId"
                        class="form-control" required>
                        <option *ngFor="let etat of etats" [value]="etat">
                            {{ etat }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #facture_content let-modal>
    <div class="modal-dialog custom-modal-size">

        <div class="modal-content" #modalContainer tabindex="-1">
            <div class="modal-header">
                <h4 class="modal-title">Facture</h4>
                <button type="button" class="btn-close" (click)="fermerModal()"></button>
            </div>

            <div class="modal-body">
                <!-- SECTION 1 - Services initiaux -->
                <div class="section">
                  <h5>Liste des services</h5>
                  <ul class="list-group mb-3">
                    <li class="list-group-item" *ngFor="let service of detailTache?.services">
                      <span style="display: inline-block; width: 80%;">
                        <input class="form-control" [value]="service.nom" disabled />
                      </span>
                      <span style="display: inline-block; width: 10%; text-align: right;">
                        <input type="checkbox"
                               [(ngModel)]="getEntry(service._id).checkArticle"
                               [ngModelOptions]="{standalone: true}" />
                      </span>
                      <span style="display: inline-block; width: 10%; text-align: center;">
                        <i class="ti ti-x ms-2" style="cursor: pointer; color: red;"
                           (click)="removeInitialService(service._id)"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              
                <!-- SECTION 2 - Services supplémentaires -->
                <div class="section">
                  <h5>Services supplémentaires</h5>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let supp of getServicesSupplementaires(); let i = index">
                      <span style="display: inline-block; width: 70%;">
                        <select class="form-control"
                                [(ngModel)]="supp.serviceId"
                                name="suppService_{{i}}">
                          <option value="">-- Choisir un service --</option>
                          <option *ngFor="let service of allServices" [value]="service._id">
                            {{ service.nom }}
                          </option>
                        </select>
                      </span>
                      <span style="display: inline-block; width: 15%; text-align: center;">
                        <input type="checkbox"
                               [(ngModel)]="supp.checkArticle"
                               [ngModelOptions]="{standalone: true}" />
                      </span>
                      <span style="display: inline-block; width: 15%; text-align: center;">
                        <i class="ti ti-x" style="cursor: pointer; color: red;"
                           (click)="removeServiceSupplementaire(i)"></i>
                      </span>
                    </li>
                  </ul>
              
                  <div class="text-end mt-2" *ngIf="isAjoutServicePossible()">
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="addNewServiceSupplementaire()">
                      <i class="ti ti-plus"></i> Ajouter un service
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fermerModal()">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="valider()">Valider</button>
              </div>
              
              
              
              

        </div>

    </div>
</ng-template>