<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 align-items-center">
                    <div class="col">
                        <h4>Historique de devis</h4>
                    </div>
                    <div class="col-auto">
                        <!-- Filtre par date -->
                        <input type="date" [(ngModel)]="dateFilter" (ngModelChange)="applyFilters()" class="form-control">
                    </div>
                    <div class="col-auto">
                        <!-- Filtre par vehicule -->
                        <select [(ngModel)]="vehiculeFilter" (ngModelChange)="applyFilters()" class="form-control">
                            <option value="">Tous</option>
                            <option *ngFor="let vehicule of vehicules" [value]="vehicule.modele">
                                {{ vehicule.modele }}
                            </option>
                        </select>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0" *ngFor="let devis of paginatedDevis; let index = index">
                      <div class="row align-items-start">
                          <div class="col">
                              <h5 class="mb-0">{{ formatDate(devis.date_demande) }}</h5>
                              <small class="text-success">{{ devis.id_vehicule.modele }}</small>
                          </div>
                          <div class="col-auto">
                              <h4 class="mb-0">
                                  MGA {{ formatPrix(devis.prix_total) }}
                                  <span tabindex="0" role="button"
                                        (click)="ouvrirModal(detailHistoDevisModal, devis)"
                                        (keydown.enter)="ouvrirModal(detailHistoDevisModal, devis)"
                                        (keyup.space)="ouvrirModal(detailHistoDevisModal, devis)"
                                        class="ms-2 align-top avatar avatar-xxs bg-light-success">
                                        <!-- <i *ngIf="rdv.etat === 'annulé'" class="ti ti-x text-success"></i> 
                                        <i *ngIf="rdv.etat === 'accepté'" class="ti ti-check text-danger"></i> 
                                        <i *ngIf="rdv.etat === 'en attente'" class="ti ti-hourglass text-warning"></i>  -->
                                  </span>
                              </h4>
                          </div>
                      </div>
                  </li>
                </ul>
  
                <!-- Pagination -->
                <div class="text-center">
                    <button class="btn btn-link" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
                    <span>Page {{ currentPage }} / {{ totalPages }}</span>
                    <button class="btn btn-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
                </div>
  
                
            </div>
        </div>
    </div>
  </div>

  <ng-template #detailHistoDevisModal>
    <div class="modal-dialog custom-modal-size">
        <div class="modal-content" #modalDevisContainer tabindex="-1">
            <div class="modal-header">
                <h3 class="modal-title">Détails devis</h3>
                <button type="button" class="btn-close" aria-label="Close" (click)="fermerModal()"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <h5>Liste des services</h5>
                    <li class="list-group-item" *ngFor="let devis of historiqueDevis">
                        <div class="row align-items-start" *ngFor="let service of devis.services">
                            <div class="col d-flex justify-content-between">
                                <div class="mb-0">{{ service.nom }}</div>
                                <div class="mb-0 text-end">{{ formatPrix(service.prix) }} MGA</div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group">
                    <h5>Liste des matériels</h5>
                    <li class="list-group-item" *ngFor="let devis of historiqueDevis">
                        <div class="row align-items-start" *ngFor="let article of devis.articles">
                            <div class="col d-flex justify-content-between">
                                <div class="mb-0">{{ article.id_article.nom }}</div>
                                <div class="mb-0 text-end">{{ formatPrix(article.id_article.prix) }} MGA (X{{article.nbr_article}})</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group">
                    <h5>Total</h5>
                    <li class="list-group-item">
                        <div class="row align-items-start">
                            <div class="col d-flex justify-content-between">
                                <h3 class="mb-0">Total des matériels</h3>
                                <div class="mb-0 text-end">{{ getMontantMateriel(historiqueDevis) }} MGA</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-start">
                            <div class="col d-flex justify-content-between">
                                <h3 class="mb-0">Total des services</h3>
                                <div class="mb-0 text-end">{{ getMontantService(historiqueDevis) }} MGA</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-start">
                            <div class="col d-flex justify-content-between">
                                <h3 class="mb-0">Total à payer</h3>
                                <div class="mb-0 text-end">{{ getTotalMontant(historiqueDevis) }} MGA</div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
  
                <!-- rendez vous en attente -->
                <!-- <div class="text-center mt-3" *ngIf="etatTache?.tache?.etat === 'en attente'">
                    <button class="btn btn-danger" (click)="annulerRendezVous(rdv[indexRdv]?._id,'annulé')">
                      Annulez le rendez-vous
                    </button>
                </div> -->
  
                <!-- <div class="text-center mt-3" *ngIf="rdv[indexRdv]?.etat === 'en attente'">
                  <button class="btn btn-danger" (click)="annulerRendezVous(rdv[indexRdv]?._id,'accepté')">
                      Valider le rendez-vous
                  </button>
              </div> -->
  
              <!-- <div class="text-center mt-3" *ngIf="rdv[indexRdv]?.etat !== 'annulé'">
                <button class="btn btn-danger" (click)="annulerRendezVous(rdv[indexRdv]?._id)">
                    Annuler le rendez-vous
                </button>
              </div> -->
  
            </div>
        </div>
    </div>
  </ng-template>