<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Hello Card">
            <h2>Item List</h2>
                <ul>
                <li *ngFor="let comment of commentaires">
                    {{ comment.libelle }} - {{ modifierDate(comment.date) }}
                </li>
                </ul>
        </app-card>
    </div>

    <h2>Ajouter un commentaire</h2>
    <form (submit)="insertCommentaire()">
        <div class="form-group">
            <label for="libelle">commentaire</label>
            <input type="libelle" id="libelle" [(ngModel)]="commentaire.libelle" name="libelleCommentaire" class="form-control" required>
        </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>