<div class="avis-container">
    <div class="col-sm-12">
      <app-card cardTitle="Avis">
        <ul class="comment-list">
          <li *ngFor="let comment of commentaires">
            <span class="comment-text">{{ comment.libelle }}</span>
            <span class="comment-date">{{ modifierDate(comment.date) }}</span>
          </li>
        </ul>
        <div class="add-comment-section">
            <!-- <h2>Ajouter un commentaire</h2> -->
            <form (submit)="insertCommentaire()" class="comment-form">
              <div class="form-group">
                <label for="libelle" class="visually-hidden">Commentaire</label>
                <input
                  type="text"
                  id="libelle"
                  [(ngModel)]="commentaire.libelle"
                  name="libelleCommentaire"
                  class="form-control modern-input"
                  required
                  placeholder="Votre commentaire..."
                />
              </div>
              <button type="submit" class="btn btn-primary modern-btn">Ajouter</button>
            </form>
          </div>
      </app-card>
    </div>
  </div>
  